{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Reciclado Campaña: Confirmación</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="disabled"><a>1- Tipo Reciclado</a></li>
                <li><a href="{% url 'redefinicion_reciclado_campana_sms' campana_sms.pk %}">2- Redefinición</a></li>
                <li><a href="{% url 'actuacion_reciclado_campana_sms' campana_sms.pk %}">3- Actuación</a></li>
                <li class="active"><a>4- Confirmar Campaña</a></li>
            </ul>
            <br>
            <form role="form" method="post" >
                {% csrf_token %}
               <div class="col-lg-6">
                    <h4>Datos Básicos</h4>
                    <dl class="dl-horizontal">
                        <dt>Nombre</dt>
                        <dd>{{ campana_sms.nombre }}</dd>
                        <dt>Fecha Inicio</dt>
                        <dd>{{ campana_sms.fecha_inicio|date:"d/m/Y" }}</dd>
                        <dt>Fecha Fin</dt>
                        <dd>{{ campana_sms.fecha_fin|date:"d/m/Y"}}</dd>
                        <dt>Cantidad Chips</dt>
                        <dd><span class="badge">{{ campana_sms.cantidad_chips }}</span></dd>
                        <dt>Con Respuesta</dt>
                        <dd>
                        	{% if campana_sms.tiene_respuesta %}
                        		Sí
                        	{% else %}
                        		No
                        	{% endif %}
                        </dd>
                    </dl>

                    <hr>

                    <h4>Base Datos</h4>
                    <dl class="dl-horizontal">
                        <dt>Nombre</dt>
                        <dd>{{ campana_sms.bd_contacto }}</dd>
                    <dl>

                    <hr>

                    <h4>Cuerpo del Mensaje</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="fts-table-bg">
                                <th></th>
                                <th>Mensaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Principal</td>
                                <td>{{ campana_sms.template_mensaje }}</td>
                            </tr>
                            <tr>
                                <td>Opcional</td>
                                <td>{{ campana_sms.template_mensaje_opcional }}</td>
                            </tr>
                            <tr>
                                <td>Alternativo</td>
                                <td>{{ campana_sms.template_mensaje_alternativo }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>

                    <h4>Respuestas</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="fts-table-bg">
                                <th>Respuesta</th>
                                <th>Repuesta descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for opcion in campana_sms.opcionsmss.all %}
                                <tr>
                                    <td>{{ opcion.respuesta }}</td>
                                    <td>{{ opcion.respuesta_descripcion }}</td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="3">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron Respuestas creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <hr>

                    <h4>Actuaciones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="fts-table-bg">
                                <th>Día</th>
                                <th>Hora Desde</th>
                                <th>Hora Hasta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for actuacion in campana_sms.actuaciones.all %}
                                <tr>
                                    <td>{{ actuacion.get_dia_semanal_display }}</td>
                                    <td>{{ actuacion.hora_desde }} Hs.</td>
                                    <td>{{ actuacion.hora_hasta }} Hs.</td>       
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12">
                    <br>
                    <button type="submit" class="btn btn-success btn-lg modal_proceso_grande">
                        Confirmar Creación de Campaña Sms
                    </button> 
                </div>
            </form>           
        </div>
    </div>
{% endblock %}
