{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script type="text/javascript">


    $(document).ready(function() {
        setInterval(function() {
            window.location.reload(true)
        }, 300000);
    });
</script>
{% endblock %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Dashboard</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
            <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Licencia ICS-IVR
                            </td>
                            <td>
                                {{ canales_ivr }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Licencia ICS-SMS
                            </td>
                            <td>
                                {{ cantidad_chips }}
                            </td>
                        </tr>

                    </tbody>
            </table>


                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">                                
                        <th>Campaña Telefonica</th>
                        <th>Fecha Desde</th>
                        <th>Fecha Hasta</th>
                        <th>Estado </th>
                        <th>Cantidad de Canales</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for campana in campana_activas %}
                            <tr>
                                <td width="45%">                          
                                    {{ campana.nombre }}
                                </td>
                                <td>
                                    {{ campana.fecha_inicio|date:"d/m/Y" }}           
                                </td>
                                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                                <td>
                                    {{ campana.get_estado_display}}
                                </td>
                                <td>
                                    {{ campana.cantidad_canales}}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron campañas telefonicas activas.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">
                        <th>Campaña SMS</th>
                        <th>Fecha Desde</th>
                        <th>Fecha Hasta</th>
                        <th>Estado </th>
                          <th>Cantidad de Chips</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for campana in campana_sms_activas %}
                            <tr>
                                <td width="45%">
                                    {{ campana.nombre }}
                                </td>
                                <td>
                                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                                </td>
                                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                                <td>
                                    {{ campana.get_estado_display}}
                                </td>
                                <td>
                                    {{ campana.cantidad_chips}}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron campañas sms activas.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <a href="http://freetechsolutions.com.ar/" target="_blank">Visite nuestra pagina web freetechsolutions.com.ar </a>
        </div>
    </div>
{% endblock %}