{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Acerca de la Aplicación.</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div>
                    <dl class="dl-horizontal">
                      <dt>Branch</dt>
                      <dd>{{ branch }}</dd>
                      <dt>Commit</dt>
                      <dd>{{ commit }}</dd>
                      <dt>Deploy</dt>
                      <dd>{{ fecha_deploy }}</dd>
                    </dl> 
                </div>                           
            </div>
        </div>
    </div>
{% endblock %}