{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Reporte SMS recibidos con repuesta esperada: campaña n° {{ campana_sms.id }}</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">                                  
                <table class="table">
                        <tbody>
                            <tr class="fts-table-bg">
                                <td width="45%">
                                    <h3 class="text-primary">
                                        {{ campana_sms.nombre }}
                                    </h3>
                                </td>
                                <td>
                                    <h5>
                                        <b>Desde: </b>{{ campana_sms.fecha_inicio|date:"d/m/Y" }}
                                    </h5>
                                </td>
                                <td>
                                    <h5>
                                        <b>Hasta: </b>{{ campana_sms.fecha_fin|date:"d/m/Y" }}
                                    </h5>
                                </td>

                                <td>
                                    <h5>
                                        <b>Base Datos: </b>
                                        {{ campana_sms.bd_contacto }}
                                    </h5>
                                </td>
                                <td><h5><a href="{% url 'exporta_campana_sms_reporte' campana_sms.id %}">Exportar (CSV)</a></h5></td>
                            </tr>
                        </tbody>
                    </table>


                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">                                
                        <th>Id contacto</th>
                        <th>Número contacto</th>
                        <th>Fecha de envio sms</th>
                        <th>Fecha de sms recibido</th>
                        <th>Mensaje de repuesta</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for contacto in contactos_recibidos %}
                            <tr>

                                <td width="45%">                          
                                    {{contacto.id_contacto}}
                                </td>
                                <td>
                                    {{ contacto.numero_contacto}}
                                </td>
                                <td>{{ contacto.fecha_envio|date:"d/m/Y" }}</td>
                                <td>
                                    {{ contacto.fecha_recibido|date:"d/m/Y"  }}
                                </td>
                                <td>
                                    {{ contacto.mensaje_respuesta}}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Contactos para esta campaña.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <!-- pagination -->
                <nav>
                    <ul class="pagination pagination-lg">

                        <li class="{% if not contactos_recibidos.has_previous %} disabled {% endif %}">
                        {% if contactos_recibidos.has_previous %}
                            <a href="{% url url_paginator pk_campana_sms=campana_sms.id pagina=contactos_recibidos.previous_page_number %}">
                            &laquo;
                            </a>
                        {% else %}
                            <a href="javascript:void(0);">
                            &laquo;
                            </a>
                        {% endif %}
                        </li>

                        <li>
                            <a href="javascript:void(0);">
                            Página {{ contactos_recibidos.number }} de {{ contactos_recibidos.paginator.num_pages }}
                            </a>
                        </li>

                        <li class="{% if not contactos_recibidos.has_next %} disabled {% endif %}">
                            {% if contactos_recibidos.has_next %}
                            <a href="{% url url_paginator pk_campana_sms=campana_sms.id pagina=contactos_recibidos.next_page_number %}">

                            &raquo;
                            </a>
                            {% else %}
                            <a href="javascript:void(0);">
                            &raquo;
                            </a>
                            {% endif %}
                        </li>

                    </ul>
                </nav>
                <a class="btn btn-success" href="{% url 'lista_campana_sms_reportes' %}" >Volver a Reportes SMS</a>            
            </div>
        </div>
    </div>
{% endblock %}