{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Reporte SMS enviados: campaña n° {{ campana_sms.pk }}</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <table class="table">
                        <tbody>
                            <tr class="fts-table-bg">
                                <td width="45%">
                                    <h3 class="text-primary">
                                        {{ campana_sms.nombre }}
                                    </h3>
                                </td>
                                <td>
                                    <h5>
                                        <b>Desde: </b>{{ campana_sms.fecha_inicio|date:"d/m/Y" }}
                                    </h5>
                                </td>
                                <td>
                                    <h5>
                                        <b>Hasta: </b>{{ campana_sms.fecha_fin|date:"d/m/Y" }}
                                    </h5>
                                </td>

                                <td>
                                    <h5>
                                        <b>Base Datos: </b>
                                        {{ campana_sms.bd_contacto }}
                                    </h5>
                                </td>
                                <td><h5><a href="{% url 'exporta_campana_sms_reporte' campana_sms.id %}">Exportar (CSV)</a></h5></td>
                            </tr>
                        </tbody>
                    </table>

                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">                                
                        <th>id</th>
                        <th>Fecha de Envio</th>
                        <th>Destino</th>
                        <th>Estado de envio</th>
                        <th>Datos</th>
                          {% if tipo_campana_sms == 'gateway' %}
                              <th>Puerto</th>
                          {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for contacto in contactos_enviados %}
                            <tr>

                                <td width="45%">                          
                                    {{contacto.id}}
                                </td>
                                <td>
                                    {{ contacto.sms_enviado_fecha|date:"d/m/Y" }}
                                </td>
                                <td>{{ contacto.destino}}</td>
                                <td>
                                    {{ contacto.sms_enviado_estado }}
                                </td>
                                <td>
                                    {{ contacto.datos}}
                                </td>
                                {% if tipo_campana_sms == 'gateway' %}
                                    <td>{{ contacto.puerto}}</td>
                                {% endif  %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Contactos para esta campaña.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <!-- pagination -->
                <nav>
                    <ul class="pagination pagination-lg">

                        <li class="{% if not contactos_enviados.has_previous %} disabled {% endif %}">
                        {% if contactos_enviados.has_previous %}
                            <a href="{% url 'reporte_sms_enviado' pk_campana_sms=campana_sms.id pagina=contactos_enviados.previous_page_number %}">
                            &laquo;
                            </a>
                        {% else %}
                            <a href="javascript:void(0);">
                            &laquo;
                            </a>
                        {% endif %}
                        </li>

                        <li>
                            <a href="javascript:void(0);">
                            Página {{ contactos_enviados.number }} de {{ contactos_enviados.paginator.num_pages }}
                            </a>
                        </li>

                        <li class="{% if not contactos_enviados.has_next %} disabled {% endif %}">
                            {% if contactos_enviados.has_next %}
                            <a href="{% url 'reporte_sms_enviado' pk_campana_sms=campana_sms.id pagina=contactos_enviados.next_page_number %}">

                            &raquo;
                            </a>
                            {% else %}
                            <a href="javascript:void(0);">
                            &raquo;
                            </a>
                            {% endif %}
                        </li>

                    </ul>
                </nav>
                <a class="btn btn-success" href="{% url 'lista_campana_sms_reportes' %}" >Volver a Reportes SMS</a>

            </div>
        </div>
    </div>
{% endblock %}