{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Reportes: Campañas Finalizadas</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">                                  
                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">                                
                        <th>Campaña</th>
                        <th>Fecha Desde</th>
                        <th>Fecha Hasta</th>
                        <th>Base Datos</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for campana in campanas_finalizadas %}
                            <tr>
                                <td width="45%">                          
                                    {{ campana.nombre }}
                                </td>
                                <td>
                                    {{ campana.fecha_inicio|date:"d/m/Y" }}           
                                </td>
                                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                                <td>
                                    {{ campana.bd_contacto }}
                                </td>
                                <td><a href="{% url 'detalle_campana_reporte' campana.id %}">Ver Reporte</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Campañas.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}