{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Nueva Derivación Externa</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-4">
                <form role="form" method="post">
                    {% crispy form %} 
                     
                    <br>

                    <button type="submit" class="btn btn-success btn-lg">
                        Guardar Derivación Externa
                    </button>
                </form>           
            </div>
        </div>
    </div>
{% endblock %}