{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Base Datos Contacto</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-8">
                <form method="post">{% csrf_token %}
                    <h4>Base Datos Contacto <strong>{{ object.nombre }}</strong></h4>
                    <h4>¿Esta seguro que desea depurar la Base Datos Contactos:  
                        <strong>
                            {{ object.nombre }}
                        </strong>?</h4>

                    <button type="submit" class="btn btn-danger btn-sm modal_proceso_grande">
                        <span class="glyphicon glyphicon-remove"></span> Depurar
                    </button>
                    <a href="{% url 'lista_base_datos_contacto' %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
