{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Base de Datos Contactos</h4>
            <div class="inline pull-right">
                <a href="{% url 'nueva_base_datos_contacto' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Nueva Base Datos Contactos
                    </button>
                </a>
            </div>

            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">                                   
                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">                                
                        <th>Base Datos Contactos</th>
                        <th>Creada</th>
                        <th>Cantidad Contactos</th>
                        <!-- <th>Editar</th> -->
                        <th>Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for base_datos_contacto in bases_datos_contacto %}
                            <tr>
                                <td>                          
                                    {{ base_datos_contacto.nombre }}
                                </td> 
                                <td>                          
                                    {{ base_datos_contacto.fecha_alta|date:"d/m/Y" }}
                                </td> 
                                <td>                          
                                    {{ base_datos_contacto.get_cantidad_contactos }}
                                </td>                                       
                                <!-- <td>
                                    <a href="{# url 'edita_base_datos_contacto' base_datos_contacto.pk #}">
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span> Editar
                                        </button>
                                    </a>
                                </td> -->
                                <td>
                                    {% if not base_datos_contacto.verifica_en_uso %}
                                        <a href="{% url 'depurar_base_datos_contacto' base_datos_contacto.pk %}">
                                            <button type="button" class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove"></span> Depurar
                                            </button>
                                        </a>
                                    {% else %}
                                        <span class="glyphicon glyphicon-exclamation-sign"></span> En uso
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Bases de Datos de Contactos creadas.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div>
                <a href="{% url 'nueva_base_datos_contacto' %}">
                    <button type="button" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Nueva Base Datos Contactos
                    </button>
                </a>
            </div> -->
        </div>        
    </div>
{% endblock %}