{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Nueva Base Datos Contactos</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-4">
                <form role="form" method="post" enctype="multipart/form-data" >
                    {% crispy form %} 
                    <br>
                    <button type="submit" class="btn btn-default btn-block modal_proceso_grande">
                    Definir Base Datos
                    </button>
                </form>           
            </div>
        </div>
    </div>
{% endblock %}
