{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">  
            {% if es_template %}
                <h4 class="inline">Nuevo Template de Campaña: Actuación</h4>
            {% else %}
                <h4 class="inline">Nueva Campaña: Actuación</h4>
            {% endif %}              
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% if es_template %}
                    <li ><a href="{% url 'datos_basicos_template' campana.pk %}">1- Datos Básicos</a></li>
                    <li><a href="{% url 'audio_template' campana.pk %}">2- Audio</a></li>
                    <li><a href="{% url 'calificacion_template' campana.pk %}">3- Calificaciones</a></li>
                    <li><a href="{% url 'opcion_template' campana.pk %}">4- Opciones</a></li>
                {% else %}
                    <li><a href="{% url 'datos_basicos_campana' campana.pk %}">1- Datos Básicos</a></li>
                    <li><a href="{% url 'audio_campana' campana.pk %}">2- Audio</a></li>
                    <li><a href="{% url 'calificacion_campana' campana.pk %}">3- Calificaciones</a></li>
                    <li><a href="{% url 'opcion_campana' campana.pk %}">4- Opciones</a></li>
                {% endif %}                
                <li class="active"><a>5- Actuación</a></li>
                <li class="disabled"><a>6- Confirmar Campaña</a></li>
            </ul>
            <br>
            <form role="form" method="post">
            <div class="col-lg-4">
                {% csrf_token %}                
                   
                <h4>Nueva Actuación</h4>
                {% crispy form %} 
            </div>
            <div class="col-lg-6">
                {% if campana %}
                    <h4>Actuaciones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Día</th>
                            <th>Hora Desde</th>
                            <th>Hora Hasta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for actuacion in campana.actuaciones.all %}
                                <tr>
                                    <td>
                                        {% if actuacion in actuaciones_validas %}
                                            <span class="text-success">{{ actuacion.get_dia_semanal_display }}</span>
                                        {% else %}
                                            {% if es_template %}
                                                {{ actuacion.get_dia_semanal_display }}
                                            {% else %}
                                                <span class="text-danger">{{ actuacion.get_dia_semanal_display }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ actuacion.hora_desde }} Hs.</td>
                                    <td>{{ actuacion.hora_hasta }} Hs.</td>
                                    <td>
                                        {% if es_template %}
                                            <a href="{% url 'actuacion_template_elimina' campana.pk actuacion.pk %}"> Eliminar</a>
                                        {% else %}
                                            <a href="{% url 'actuacion_campana_elimina' campana.pk actuacion.pk %}"> Eliminar</a>
                                        {% endif %}                        
                                    </td>       
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron Actuaciones creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="col-lg-12">
                <br>
                <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar Actuación
                </button>
                
                {% if es_template %}
                    <a href="{% url 'confirma_template' campana.pk %}" class="btn btn-default pull-right" role="button">
                        Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                    </a> 
                {% else %}
                    {% if actuaciones_validas %}
                        <a href="{% url 'confirma_campana' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %} 
                {% endif %}
            </div>
            </form>        
        </div>
    </div>
{% endblock %}
