{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">
            {% if es_template %}
                <h4 class="inline">Nuevo Template de Campaña: Calificaciones</h4>
            {% else %}
                <h4 class="inline">Nueva Campaña: Calificaciones</h4>
            {% endif %}             
            
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% if es_template %}
                    <li ><a href="{% url 'datos_basicos_template' campana.pk %}">1- Datos Básicos</a></li>
                    <li><a href="{% url 'audio_template' campana.pk %}">2- Audio</a></li>
                {% else %}
                    <li ><a href="{% url 'datos_basicos_campana' campana.pk %}">1- Datos Básicos</a></li>
                    <li><a href="{% url 'audio_campana' campana.pk %}">2- Audio</a></li>
                {% endif %}
                <li class="active"><a>3- Calificaciones</a></li>
                <li class="disabled"><a>4- Opciones</a></li>
                <li class="disabled"><a>5- Actuación</a></li>
                <li class="disabled"><a>6- Confirmar</a></li>
            </ul>
            <br>
            <form role="form" method="post">
                <div class="col-lg-4">                
                    {% csrf_token %}                         

                    <h4>Nueva Calificación</h4>
                    {% crispy form %} 
                </div>
                <div class="col-lg-6">
                    {% if campana %}
                        <h4>Calificaciones</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="fts-table-bg">
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for calificacion in campana.calificaciones.all %}
                                    <tr>
                                        <td>
                                            <p class='col-lg-6'>{{ calificacion.nombre }}</p>
                                            {% if es_template %}
                                                <p class='col-lg-6 text-right'><a href="{% url 'calificacion_template_elimina' campana.pk calificacion.pk %}"> Eliminar</a>
                                            {% else %}                                            
                                                <p class='col-lg-6 text-right'><a href="{% url 'calificacion_campana_elimina' campana.pk calificacion.pk %}"> Eliminar</a></p>
                                            {% endif %}  
                                        </td>
                                    </tr>
                                 {% empty %}
                                    <tr>
                                        <td> 
                                            <p class="text-center text-danger">
                                                <em>No se encontraron Calificaciones creadas.</em>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <br>
                    {% if es_template %}
                        <a href="{% url 'opcion_template' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a> 
                    {% else %}
                        <a href="{% url 'opcion_campana' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a> 
                    {% endif %}
                    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar Calificación
                    </button>
                    
                </div>
            </form>
        </div>
    </div>
{% endblock %}
