{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script type="text/javascript">
        $(function(){
            $(".btn-submit").click(function (){
                var campana_id = $(this).attr("id");
                var action = $(this).attr("name");
                submit_form(campana_id, action);
            })

            function submit_form(campana_id, action){
                $("#campana_id").val(campana_id);
                $("#form_estados_campanas").attr("action", action);
                $("#form_estados_campanas").submit();
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Campañas</h4>
            <div class="inline pull-right">
                <a href="{% url 'nueva_campana' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Nueva Campaña
                    </button>
                </a>
            </div>

            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <form id="form_estados_campanas" role="form" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="campana_id" name="campana_id">
                    <table class="table table-bordered">
                        <thead>
                          <tr class="fts-table-bg">                                
                            <th width="45%">Campañas Activas</th>                    
                            <th width="15%">Estado</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for campana in activas %}
                                <tr >
                                    <td width="45%">                          
                                        <a href="{% url 'detalle_campana' campana.id %}">{{ campana.nombre }}</a>
                                    </td>
                                    <td>
                                        {{ campana.get_estado_display }}
                                    </td>
                                    <td>
                                        <button type="button" id="{{ campana.id }}" name="{% url 'estado_pausa_campana' %}" class="btn btn-warning btn-sm btn-submit">
                                            <span class="glyphicon glyphicon-pause"></span>
                                            Pausar
                                        </button>
                                    </td>                        
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron Campañas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                          <tr class="fts-table-bg">                                
                            <th width="45%">Campañas Pausadas</th>                    
                            <th width="15%">Estado</th>
                            <th ></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for campana in pausadas %}
                                <tr>
                                    <td width="45%">                          
                                        <a href="{% url 'detalle_campana' campana.id %}">{{ campana.nombre }}</a>
                                    </td>
                                    <td>
                                        {{ campana.get_estado_display }}
                                    </td>
                                    <td>
                                        <button type="button" id="{{ campana.id }}" name="{% url 'estado_activa_campana' %}" class="btn btn-success btn-sm btn-submit">
                                            <span class="glyphicon glyphicon-play"></span>
                                            Activar
                                        </button>
                                        <button type="button" id="{{ campana.id }}" name="{% url 'estado_finaliza_campana' %}" class="btn btn-danger btn-sm btn-submit">
                                            <span class="glyphicon glyphicon-stop"></span>
                                            Finalizar
                                        </button>
                                    </td>                        
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron Campañas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                          <tr class="fts-table-bg">                                
                            <th width="45%">Campañas Finalizadas</th>                        
                            <th width="15%">Estado</th>
                            <th></th>                      
                          </tr>
                        </thead>
                        <tbody>
                            {% for campana in finalizadas %}
                                <tr>
                                    <td width="45%">                          
                                        <a href="{% url 'detalle_campana' campana.id %}">{{ campana.nombre }}</a>
                                    </td>
                                    <td>
                                        {{ campana.get_estado_display }}
                                    </td>
                                    <td>
                                        <i>Terminando procesamiento...</i>
                                    </td>                            
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron campañas finalizadas sin depurar.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for campana in depuradas %}
                                <tr>
                                    <td width="45%">                          
                                        <a href="{% url 'detalle_campana' campana.id %}">{{ campana.nombre }}</a>
                                    </td>
                                    <td>
                                        Finalizada
                                    </td>
                                    <td>
                                        <a href="{% url 'tipo_reciclado_campana' campana.pk %}">
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-retweet"></span>
                                                Reciclar
                                            </button>
                                        </a>
                                        <a href="{% url 'campana_elimina' campana.pk %}">
                                            <button type="button" class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                Eliminar
                                            </button>
                                        </a>                                   
                                    </td>                            
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron campañas depuradas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>                               
            </div>
        </div>
    </div>
{% endblock %}