{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">
            {% if es_template %}
                <h4 class="inline">Nuevo Template de Campaña: Opciones</h4>
            {% else %}
                <h4 class="inline">Nueva Campaña: Opciones</h4>
            {% endif %}                 
            
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% if es_template %}
                    <li ><a href="{% url 'datos_basicos_template' campana.pk %}">1- Datos Básicos</a></li>
                    <li><a href="{% url 'audio_template' campana.pk %}">2- Audio</a></li>
                    <li><a href="{% url 'calificacion_template' campana.pk %}">3- Calificaciones</a></li>

                {% else %}
                    <li><a href="{% url 'datos_basicos_campana' campana.pk %}">1- Datos Básicos</a></li>
                    <li><a href="{% url 'audio_campana' campana.pk %}">2- Audio</a></li>
                    <li><a href="{% url 'calificacion_campana' campana.pk %}">3- Calificaciones</a></li>
                {% endif %}                
                <li class="active"><a>4- Opciones</a></li>
                <li class="disabled"><a>5- Actuación</a></li>
                <li class="disabled"><a>6- Confirmar</a></li>
            </ul>
            <br>
            <form role="form" method="post">
                <div class="col-lg-4">
                    {% csrf_token %}                         
                    
                    {% if campana.audio_original %}
                        <div>
                            <h4>Audio de la Campaña</h4>
                            <audio src="{{ campana.audio_original.url }}" controls></audio>
                        </div>
                    {% endif %}

                    <hr>
                    <br>
                   
                    <h4>Nueva Opción</h4>
                    {% crispy form %} 

                </div>
                <div class="col-lg-6">
                    {% if campana %}
                        <h4>Opciones</h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="fts-table-bg">
                                    <th>Dígito</th>
                                    <th>Acción</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for opcion in campana.opciones.all %}
                                    <tr>
                                        <td>{{ opcion.digito }}</td>
                                        <td>{{ opcion.get_accion_display }}</td>
                                        <td>
                                            {% if opcion.grupo_atencion %}
                                                Grupo Atención: <strong>{{ opcion.grupo_atencion }}</strong>
                                            {% elif opcion.derivacion_externa %}
                                                Derivación Externa: <strong>{{ opcion.derivacion_externa }}</strong>
                                            {% endif %}

                                            {% if opcion.calificacion %}
                                                Calificación: <strong>{{ opcion.calificacion }}</strong>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if es_template %}
                                                <a href="{% url 'opcion_template_elimina' campana.pk opcion.pk %}"> Eliminar</a> 
                                            {% else %}                                            
                                                <a href="{% url 'opcion_campana_elimina' campana.pk opcion.pk %}"> Eliminar</a> 
                                            {% endif %}
                                                                   
                                        </td>
                                        
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">
                                            <p class="text-center text-danger">
                                                <em>No se encontraron Opciones creadas.</em>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <br>
                    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar Opción
                    </button>
                    {% if es_template %}
                        <a href="{% url 'actuacion_template' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a> 
                    {% else %}
                         <a href="{% url 'actuacion_campana' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>  
                    {% endif %}                   
                </div>
            </form> 
        </div>
    </div>
{% endblock %}

{% block head_js %}
    <script type="text/javascript">
        $(function() {
            $(".accion").each(function (){
                if(!$(this).parent().parent().hasClass('has-error')){
                    $(this).attr('disabled', true);
                }
            })
            
            $("#id_accion").change(function (){
                $(".accion").each(function (){
                    $(this).parent().parent().removeClass('has-error');
                    $(this).parent().find('.help-block').remove();
                })

                $(".accion").attr('disabled', true);
                $(".accion-"+$(this).val()).attr('disabled', false);
            });
        });
    </script>
{% endblock %}
