{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}      
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Reciclado de Campaña: Tipo Reciclado</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active" ><a>1- Tipo Reciclado</a></li>
                <li class="disabled"><a>2- Redefinición</a></li>
                <li class="disabled"><a>3- Actuación</a></li>
                <li class="disabled"><a>4- Confirmar Campaña</a></li>
            </ul>
            <br>

             {% crispy form %}
        </div>
    </div>
    <script type="text/javascript">
        $(".checkboxs_reciclado").click(function (){
           $('.radio_reciclado').attr('checked', false);
        })
        $(".radio_reciclado").click(function (){
           $('.checkboxs_reciclado').attr('checked', false);
        })
    </script>
{% endblock %}
