{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}      
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Reciclado Campaña: Redefinición</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="disabled"><a>1- Tipo Reciclado</a></li>
                <li class="active"><a>2- Redefinición</a></li>
                <li class="disabled"><a>3- Actuación</a></li>
                <li class="disabled"><a>4- Confirmar Campaña</a></li>
            </ul>

            <br>
            <form role="form" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="col-lg-4 form-group {% if form.errors %}has-error{% endif %}">      
                    {% crispy form %}                                           

                    {% if campana.audio_original %}
                        <div>
                            <h4>Audio de la Campaña</h4>
                            <audio src="{{ campana.audio_original.url }}" controls></audio>
                        </div>
                    {% endif %}                                
                </div>

                <div class="col-lg-12">
                    <br>
                    <button type="submit" id="id_guardar" class="btn btn-default pull-right">
                        Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
