{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}      
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">
               <h4 class="inline">Nueva Campaña SMS: Datos Básicos</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a>1- Datos Básicos</a></li>
                <li class="disabled"><a>2- Cuerpo del Mensaje</a></li>
                <li class="disabled"><a>3- Respuestas</a></li>
                <li class="disabled"><a>4- Actuación</a></li>
                <li class="disabled"><a>5- Confirmar</a></li>
            </ul>
            <br>          
            <form role="form" method="post" >
                <div class="col-lg-4">                
                    {% crispy form %}                                           
                </div>
                <div class="col-lg-12">
                    <br>
                    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                        Guardar Datos Básicos y Continuar
                    </button>
                </div>
            </form>           
        </div>
    </div>
{% endblock %}
