{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">
            <h4 class="inline">Nueva Campaña SMS: Respuesta</h4>           
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
              <ul class="nav nav-tabs">
                <li><a href="{% url 'datos_basicos_campana_sms'  campana_sms.pk %}">1- Datos Básicos</a></li>
                <li><a href="{% url 'template_mensaje_campana_sms'  campana_sms.pk %}">2- Cuerpo del Mensaje</a></li>
                <li class="active"><a>3- Respuestas</a></li>
                <li class="disabled"><a>4- Actuación</a></li>
                <li class="disabled"><a>5- Confirmar</a></li>
            </ul>
            <br>
            <form role="form" method="post">
                <div class="col-lg-4">
                    {% csrf_token %}                         
                                      
                    <h4>Nueva Respuesta</h4>
                    {% crispy form %} 

                </div>
                <div class="col-lg-6">
                    {% if campana_sms %}
                        <h4>Respuestas</h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="fts-table-bg">
                                    <th>Respuesta</th>
                                    <th>Respuesta descripcion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for opcion in campana_sms.opcionsmss.all %}
                                    <tr>
                                        <td>{{ opcion.respuesta }}</td>
                                        <td>{{ opcion.respuesta_descripcion }}</td>
                                        <td>                                         
                                            <a href="{% url 'opcion_sms_campana_sms_elimina' campana_sms.pk opcion.pk %}"> Eliminar</a>                                                                  
                                        </td>
                                        
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">
                                            <p class="text-center text-danger">
                                                <em>No se encontraron Respuestas creadas.</em>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <br>
                    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar Respuesta
                    </button>
                    
                     <a href="{% url 'actuacion_sms_campana_sms' campana_sms.pk %}" class="btn btn-default pull-right" role="button">
                         Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                     </a>                    
                </div>
            </form> 
        </div>
    </div>
{% endblock %}
