{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}      
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">
               <h4 class="inline">Nueva Campaña SMS: Cuerpo del Mensaje</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li><a href="{% url 'datos_basicos_campana_sms'  campana_sms.pk %}">1- Datos Básicos</a></li>
                <li class="active"><a>2- Cuerpo del Mensaje</a></li>
                <li class="disabled"><a>3- Respuestas</a></li>
                <li class="disabled"><a>4- Actuación</a></li>
                <li class="disabled"><a>5- Confirmar</a></li>
            </ul>
            <br>          
            <form role="form" method="post" >
                <div class="col-lg-12">
                    {% crispy form %}                                           
                </div>
                <div class="col-lg-12">
                    <br>
                    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                        Guardar Cuerpo de Mensaje
                    </button>
                    <a href="{% url 'opcion_sms_campana_sms' campana_sms.pk %}" class="btn btn-default pull-right" role="button">
                        Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    
                </div>
            </form>           
        </div>
    </div>
    
    <script type="text/javascript">
	$("#id_variables").click(function (){
		var variable =  " $" + $("#id_variables option:selected").val();
		var texto = $("#id_template_mensaje").val();
		
		$("#id_template_mensaje").val(texto + variable);
	});
	
	</script>
{% endblock %}
